*{
    box-sizing: border-box;
}

@font-face {
    font-family: myfont;
    src: url(/assets/PixelFont-Regular.otf) format(opentype);

}

body {
    background-image: url(../assets/stacked-waves-haikei.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    margin: 0;
    padding:20px;
    gap:20px;
    /* font-family: myfont; */
}

header, main, footer, section{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding:20px;
}



header {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

nav{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu {
    text-decoration: none;
    color:black;
    border-radius: 5em;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px;
    font-weight: bold;
}

#active {
    color: white;
    background-color: rgb(28, 4, 83, 0.3);
}

main {
    grid-column: 2;
    grid-row: 2;
}



footer {
    grid-row: 1/3;
    grid-column: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.img {
    width: 180px;
    display: flex;
    justify-self: center;
    border-radius: 10px;
}

.linkjes {
  margin: 10px;
}

.mail {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.logo {
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
    }

    header {
        grid-column: 1;
        grid-row: 1;
    }

    main {
        grid-column: 1;
        grid-row: 2;
    }

    footer {
        grid-column: 1;
        grid-row: 3;
    }
}